Django>=1.9
Whoosh>=2.5.2,!=2.6.0
git+https://github.com/translate/translate.git#egg=translate
lxml>=3.1.0
Pillow
six>=1.7.0
python-dateutil
python-social-auth>=0.2.0
django-crispy-forms>=1.4.0
oauthlib>=0.6.3
django_compressor>=1.5.0,!=2.0
djangorestframework>=3.4
defusedxml>=0.4
psycopg2
gunicorn
whitenoise
pyuca>=1.1
pyLibravatar
pydns
pytz>=2015.1
Babel
chardet
python-bidi>=0.4.0
PyYAML>=3.0
